<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>
body {
    background:#1e272e;
    color:white;
    text-align:center;
}
canvas {
    width:400px !important;
    margin-top:50px;
}
</style>
</head>

<body>

<h2>📊 Cancer Prediction Dashboard</h2>

<canvas id="myChart"></canvas>

<script>
var ctx = document.getElementById('myChart').getContext('2d');

new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ labels | safe }},
        datasets: [{
            label: 'Reports',
            data: {{ values | safe }},
        }]
    }
});
</script>

</body>
</html>